{% extends "CRUD_app/cabecalho.html" %}

{% block content %}

<div class="container">

    <div class="card-form">

        <h2 class="titulo">{{ paciente.nome_completo }}</h2>
        
        <h2>Editar Informações do Paciente:</h2>

        <form action="{% url 'edit_paciente' paciente.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn-salvar" name="submit" onclick="return confirm('Tem certeza que deseja editar as informações desse paciente?')">Salvar</button>
        </form>

    </div>

</div>
{% endblock content %}
