{% extends "CRUD_app/cabecalho.html" %}

{% block content %}
   
<div class="container">

    <div class="card-form">

        <h2 class="titulo">{{ consulta.medico.nome_completo }}</h2>
            
        <p>Editar Informações da Consulta:</p>

        <form action="{% url 'edit_consulta' consulta.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <button class="btn-salvar" name="submit" onclick="return confirm('Tem certeza que deseja editar as informações dessa consulta?')">Salvar</button>
        </form>
        
    </div>

</div>

{% endblock content %}

