{% extends "CRUD_app/cabecalho.html" %}

{% block content %}
   
<div class="container">

    <div class="card-form">

        <h2 class="titulo">{{ medico.nome_completo }}</h2>
        
        <p>Editar Informações do Médico:</p>

        <form action="{% url 'edit_medico' medico.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn-salvar" name="submit" onclick="return confirm('Tem certeza que deseja editar as informações deste médico?')">Salvar</button>
        </form>

    </div>

</div>
{% endblock content %}
