{% extends "CRUD_app/cabecalho.html" %}

{% block content %}

<div class="container">

    <div class="card-info">

        <h2 class="titulo">Informações do Médico</h2>

            <div class="info">
                <p><strong>Nome:</strong> {{ medico.nome_completo }}</p>
                <p><strong>CPF:</strong> {{ medico.cpf }}</p>
                <p><strong>Telefone:</strong> {{ medico.telefone }}</p>
                <p><strong>Email:</strong> {{ medico.email }}</p>
                <p><strong>Especialidade:</strong> {{ medico.get_especialidade_display }}</p>
                <p><strong>CRM:</strong> {{ medico.crm }}</p>
                <p><strong>Turno:</strong> {{ medico.get_turno_display }}</p>
                <p><strong>Data da Contratação:</strong> {{ medico.data_contratacao }}</p>
            </div>

            <div class="acoes">

                <a href="{% url 'edit_medico' medico.id %}">
                <button class="btn-editar">Editar Médico</button>
                </a>

                <form action="{% url 'delete_medico' medico.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn-excluir" type="submit" onclick="return confirm('Tem certeza que deseja remover este médico?')">Excluir Médico</button>
                </form>

            </div>

    </div>

</div>

{% endblock content %}
